.card {
  flex: 1 0 var(--space-64);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
  transition: background-color 500ms ease-out;

  @media screen and (width >=800px) {
    flex-basis: 0;
  }
}

.hex {
  position: absolute;
  top: var(--space-8);
  left: var(--space-8);
  background: rgb(0 0 0 / 0.95);
  padding-inline: var(--space-6);
  padding-block: var(--space-4);
  box-shadow: var(--box-shadow);
  border: 1px solid rgb(255 255 255 / 0.25);
  border-radius: var(--space-3);

  color: white;
  font-family: monospace;
  font-size: var(--space-12);
  font-weight: 500;

  @media screen and (width >=800px) {
    top: var(--space-16);
    left: var(--space-16);
  }
}
