.labelWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    display: flex;
    align-items: center;
  }
}

.button {
  opacity: 0;

  :global(.group-key-index):hover &:not(:disabled),
  &:focus-visible {
    opacity: 0.4;
  }

  &:disabled {
    opacity: 0;
  }
}
