.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  inline-size: 100%;
  background: var(--color-primary-dark);
  border-radius: 100vmax;
  padding-block-start: 0.75rem;
  padding-block-end: 0.875rem;

  text-align: center;
  font-weight: 500;
  color: var(--color-primary-100);

  transition: scale 100ms ease-out, background 100ms ease-out;

  &:active {
    scale: 0.95;
    background: var(--color-primary-darker);
  }
}
