.button {
  height: 32px;
  border: 1px solid white;
  border-radius: 100vmax;
  box-shadow: var(--box-shadow);

  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}

.primary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: white;
  color: var(--color-primary-dark);
  padding-inline-start: 0.125rem;
  padding-inline-end: 1rem;
  padding-block: 0;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: lightgray;
    border-radius: 100vmax;
    transition: background 100ms ease-out, color 100ms ease-out;
  }

  &[data-locked] {
    span {
      color: white;
      background: var(--color-primary-dark);
    }
  }
}

.secondary {
  padding-inline: 1rem;
  color: white;
  opacity: 0;
  transition: opacity 150ms ease-out;

  :global(.color-card):hover > &,
  &:focus-visible {
    opacity: 1;
  }
}
