.section {
  display: grid;
  gap: var(--space-8);
  /* padding-inline: var(--space-8); */
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  font-size: var(--space-13);
  font-weight: 500;
}

.label {
  flex: 0 0 var(--space-10);
}

.hue {
  --thumb-border: 2px solid transparent;
  --track-background: linear-gradient(
    to right in oklch longer hue,
    oklch(65% 0.25 0),
    oklch(65% 0.25 0)
  );
}

.saturation {
  --thumb-border: 2px solid transparent;
  --track-background: linear-gradient(
    to right in oklch,
    var(--color-primary-desaturated),
    var(--color-primary) 80%
  );
}

.lightness {
  --thumb-border: 2px solid transparent;
  --track-background: linear-gradient(
    to right in oklch,
    black,
    var(--color-primary-medium) 40%,
    var(--color-primary-medium) 60%,
    #efefef
  );
}

.value {
  flex: 0 0 var(--space-36);
  font-variant-numeric: tabular-nums;
  text-align: end;
}
