.form {
  display: grid;
  gap: 0.375rem;
}

.label {
  font-size: 0.75rem;
  font-weight: 500;
  display: none;
}

.wrapper {
  position: relative;
  font-size: 20px;

  &::before {
    content: "#";
    position: absolute;
    top: 50%;
    left: 0.5rem;
    translate: 0 -50%;
    z-index: 100;
    opacity: 0.4;
  }
}

.input {
  position: relative;
  /* background: #f5f5f5;
  border: 1px solid rgba(0 0 0 / 0.1); */
  border-radius: 100vmax;
  padding-inline-start: 1.5rem;
  padding-inline-end: 0.375rem;
  padding-block: 0.25rem;
  height: 40px;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: currentColor;
    opacity: 0.4;
  }
}

.submit {
  display: none;
}
