.form {
  display: grid;
  gap: 0.375rem;
}

.label {
  font-size: 0.75rem;
  font-weight: 500;
  display: none;
}

.wrapper {
  --input-height: 48px;

  position: relative;
  font-size: 18px;

  &::before {
    content: "#";
    position: absolute;
    top: 50%;
    left: calc(var(--input-height) + 0.25rem);
    translate: 0 -50%;
    z-index: 100;
  }
}

.swatch {
  --offset: 8px;

  position: absolute;
  top: var(--offset);
  left: var(--offset);

  display: block;
  height: calc(var(--input-height) - 2 * var(--offset));
  width: calc(var(--input-height) - 2 * var(--offset));
  background: var(--color-primary);
  border: 1px solid rgb(0 0 0 / 0.2);
  border-radius: 100vmax;
}

.input {
  position: relative;
  /* background: #f5f5f5;
  border: 1px solid rgba(0 0 0 / 0.1); */
  height: var(--input-height);
  width: 100%;
  background: transparent;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 100vmax;
  padding-inline-start: calc(var(--input-height) + 0.875rem);
  padding-inline-end: 0.375rem;
  padding-block: 0.25rem;
  min-width: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: currentColor;
    opacity: 0.4;
  }
}

.submit {
  display: none;
}
