.main {
  display: grid;
  gap: 1rem;
  padding: 1rem 0.5rem;

  @media screen and (width >= 800px) {
    padding: 2rem;
  }
}

.header > div {
  display: grid;
  grid-template-columns: 1fr 144px;
  gap: 1rem;
  max-width: 480px;
}
