.main {
  display: grid;
  grid-template-columns: var(--space-320) 1fr;
  min-block-size: 100dvh;
  isolation: isolate;
}

.header {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: var(--shadow-elevation-2);
  z-index: 100;
}

.section {
  padding-inline: var(--space-16);
  padding-block: var(--space-32);
  border-bottom: 1px solid rgb(0 0 0 / 0.1);

  @media screen and (width >= 800px) {
    padding-inline: var(--space-28);
  }

  &:last-of-type {
    border-top: 1px solid rgb(0 0 0 / 0.1);
    border-bottom: none;
  }
}

.spacer {
  flex-grow: 1;
}
