.main {
  display: flex;
  flex-direction: row;
  min-height: 100dvh;
}

.header {
  background: white;
  box-shadow: var(--shadow-elevation-2);
  z-index: 100;
}

.section {
  padding-inline: 1rem;
  padding-block: 2rem;
  border-bottom: 1px solid rgb(0 0 0 / 0.1);

  @media screen and (width >= 800px) {
    padding-inline: 1.5rem;
    padding-block: 2rem;
  }
}
