.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
}

.label {
  font-size: 13px;
  font-weight: 500;
}

.container {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-end;
}

.input {
  flex: 0 0 48px;
  background: transparent;
  border-right: 0;
  border-radius: 2px;
  padding-inline: 0.375rem;
  padding-block: 0.25rem;
  height: 32px;
  text-align: center;
  font-variant-numeric: tabular-nums;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.button {
  --lightness: 50%;

  flex: 0 0 32px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  background: transparent;
  border: 1px solid rgba(0 0 0 / 0.1);
  border-radius: 100vmax;
  transition: background 200ms ease-out;

  &:hover {
    --lightness: 60%;
    background: var(--color-primary-100);
  }
}
