.wrapper {
  display: grid;
  gap: var(--space-14);
}

.label {
  font-size: var(--space-13);
  font-weight: 500;
  /* padding-inline: var(--space-8); */

  span {
    opacity: 0.5;
    margin-inline-start: var(--space-4);
  }
}

.inputs {
  display: grid;
  gap: var(--space-16);
}
