.root {
  display: grid;
  grid-template-columns: var(--space-224) 1fr;
  height: 100%;
  flex-grow: 1;
}

.tabs {
  display: grid;
  grid-auto-rows: min-content;
}

.sticky {
  position: sticky;
  display: grid;
  grid-auto-rows: min-content;
  top: var(--space-48);
}

.tab {
  background-color: var(--white);
  padding-inline: var(--space-24);
  padding-block: var(--space-20);
  border-bottom: 1px var(--border-xlight);
  text-align: left;
  user-select: none;

  &[data-state='active'] {
    color: blue;
    border-bottom: 1px solid blue;
  }

  &:disabled {
    color: oklch(var(--black-oklch) / 35%);
  }
}

.panels {
  position: relative;
  border-left: 1px var(--border-xlight);
  background: lightgray;
}

.figma {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: auto;
    user-select: none;
  }
}

.panel {
  padding: var(--space-24);
  min-height: calc(100% - 80px);
}

.export {
  position: sticky;
  bottom: 0;
  left: 0;
  height: var(--space-80);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: var(--space-16);
  border-top: 1px var(--border-xlight);
  padding-inline: var(--space-24);
  background: oklch(var(--white-oklch) / 90%);
}
