.root {
  display: grid;
  grid-template-columns: var(--space-224) 1fr;
  height: 100%;
  flex-grow: 1;
}

.tabs {
  display: grid;
  grid-auto-rows: min-content;
  border-right: 1px var(--border-xlight);
}

.sticky {
  position: sticky;
  display: grid;
  grid-auto-rows: min-content;
  top: var(--space-48);
}

.tab {
  background-color: var(--white);
  padding-inline: var(--space-24);
  padding-block: var(--space-20);
  border-bottom: 1px var(--border-xlight);
  text-align: left;
  user-select: none;

  &[data-state='active'] {
    color: blue;
    border-bottom: 1px solid blue;
  }

  &:disabled {
    color: oklch(var(--black-oklch) / 35%);
  }
}

.panels {
  position: relative;
  background: oklch(var(--black-oklch) / 7%);
}

.panel {
  padding: var(--space-24);
  min-height: calc(100% - 80px);

  &.figma {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 100%;
      height: auto;
      user-select: none;
    }
  }

  &.css-vars {
    font-family: monospace;
    font-size: var(--space-16);

    ul {
      font: monospace;
    }

    li {
      padding-left: 2ch;
      letter-spacing: 0.25px;

      span[data-varname] {
        color: blue;
      }
    }
  }
}

.export {
  position: sticky;
  bottom: 0;
  left: 0;
  height: var(--space-80);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-8);
  border-top: 1px var(--border-xlight);
  padding-inline: var(--space-24);
  background: oklch(var(--white-oklch) / 90%);

  button {
    background-color: var(--black);
    color: var(--white);
    border-radius: var(--brad-full);
    padding-inline: var(--space-20);
    padding-block: var(--space-12);
    font-weight: 500;
    min-width: 120px;

    &:nth-of-type(2) {
      background-color: transparent;
      color: var(--black);
      border: 1.5px var(--border-default);
    }
  }
}
